extends layout

block content
  .container
    h1 #{title}
    //- p Congratulations #{user.username}, you have accessed the secret content! 
    //- br
    //-   p Phone Number: #{user.phoneNumber}
    //- div