extends layout

block content
  .container
    h1 #{title}
    table.table.table-bordered(style='width:100%', border='1')
      thead
        tr
          th(scope='col') Username
          th(scope='col') Notes
      tbody
          each note in results
            tr
              td= #{username}
              td
                a(href='notes/' + note.id)= note.text
