extends layout

block content
  .container
    h1 #{title}
    table.table.table-bordered(style='width:100%', border='1')
      thead
        tr
          th(scope='col') Phone Number
          th(scope='col') Notes
      tbody
          each note in results
            tr
              td= note.phoneNumber
              td
                a(href='notes/' + note.note_id)= note.note
