extends layout

block content
  .container
    h1 #{title}
    table.table.table-bordered(style='width:100%', border='1')
      thead
        tr
          th(scope='col') Phone Number
          th(scope='col') Notes
          th(scope='col') Action
      tbody
            tr
              td= results.phoneNumber
              td
                p(href= results.note_id)= results.note
              td  
                a(href= results.note_id + "/delete")
                  button(type="button") delete note
